.manager__main {
    margin-top: 60px;
    padding-right: 40px;
    border-right: 2px solid #707070;
    height: 100vh;
    width: 17vw;
}

.nav-title {
    padding: 5px 2vw;
}

.navbar {
    background-color: lightgray;
    padding: 0;
    height: 60px;
    
}

.nav-link{
    height: 60px;
}

.nav-link:hover{
    background-color: gray;
    border-radius: 4%;
}

.manager__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.manager__toggle-label {
    font-weight: 500;
}

.manager__toggle-switch {
    position: relative;
    width: 50px;
    height: 25px;
}

.manager__toggle-switch>input {
    opacity: 0;
    width: 0;
    height: 0;
}

.manager__toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.manager__toggle-slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.manager__toggle-switch>input:checked+.manager__toggle-slider {
    background-color: #2196F3;
}

.manager__toggle-switch>input:focus+.manager__toggle-slider {
    outline: -webkit-focus-ring-color auto 1px;
}

.manager__toggle-switch>input:checked+.manager__toggle-slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

.manager__count {
    display: flex;
    flex-direction: column;
}

.manager__count button {
    width: 140px;
    align-self: center;
}

.manager__count-label {
    font-weight: 500;
    margin: 10px 0;
    text-align: center;
}

.manager__count-results {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}

.manager__count-results.hidden {
    display: none;
}

.manager__results-label {
    font-weight: lighter;
}

.manager__results-result {
    font-weight: bold;
    display: flex;
}

.card-deck {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 220px;
    margin: 10px;
}

.text-muted {
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
}

.text-muted .btnedit {
    color: #0d6efd;
    cursor: pointer;
}

.text-muted .btndelete {
    color: tomato;
    cursor: pointer;
}